$light-font-color: rgb(226, 247, 245);
$dark-font-color: rgb(15, 102, 119);
$default-background: rgb(210, 240, 237);
$button-color: rgb(7, 207, 67);
$gradient-background: linear-gradient(
  159deg,
  rgb(226, 247, 245) 11%,
  rgb(154, 243, 249) 60%,
  rgb(7, 207, 67) 97%
);
